<form actions="/" method="post">
    <div style="padding: 10px 0px;">
        <input type="text" name = "email" placeholder="Email">
    </div>
    <button style="height: 20px; width: 100px;" type="submit">Submit</button>
</form>