<form actions="/veri" method="post">
    <div style="padding: 10px 0px;">
        <span>Write Code</span>
        <input type="text" name = "code" placeholder="Code">
    </div>
    <button style="height: 20px; width: 100px;" type="submit">Submit</button>
</form>